<!-- <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Semaine</th>
        <th scope="col">Heure</th>
        <th scope="col">Semaine 1</th>
        <th scope="col">Semaine 2</th>
        <th scope="col">Semaine 3</th>
        <th scope="col">Semaine 4</th>
        <th scope="col">Semaine 5</th>
        <th scope="col">Semaine 6</th>
        <th scope="col">Semaine 7</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th rowspan="3" scope="row" class="text-center">Temperature en °C</th>
        <td>08:00</td>
        <td>24</td>
        <td>28</td>
        <td>29</td>
        <td>30</td>
        <td>41</td>
        <td>45</td>
        <td>19</td>
      </tr>
      <tr>
        <td>12:00</td>
        <th scope="row">20</th>
        <td>19</td>
        <td>25</td>
        <td>26</td>
        <td>25</td>
        <td>33</td>
        <td>34</td>
      </tr>
      <tr>
        <td>19:00</td>
        <th scope="row">20</th>
        <td>19</td>
        <td>25</td>
        <td>26</td>
        <td>25</td>
        <td>33</td>
        <td>34</td>
      </tr>
      <tr>
        <th rowspan="3" scope="row" class="text-center">Humidité en %</th>
        <td>08:00</td>
        <td>19</td>
        <td>25</td>
        <td>26</td>
        <td>25</td>
        <td>33</td>
        <td>34</td>
        <td>19</td>
      </tr>
      <tr>
        <td>12:00</td>
        <th scope="row">20</th>
        <td>19</td>
        <td>25</td>
        <td>26</td>
        <td>25</td>
        <td>33</td>
        <td>34</td>
      </tr>
      <tr>
        <td>19:00</td>
        <th scope="row">20</th>
        <td>19</td>
        <td>25</td>
        <td>26</td>
        <td>25</td>
        <td>33</td>
        <td>34</td>
      </tr>
  
    </tbody>
  </table> -->

<table>
  <thead>
    <tr>
      <td>Nom</td>
    </tr>
  </thead>
   <tbody>
   <tr *ngFor="let t of temphum">
    <td>{{t.temperature}}</td>
   </tr>
  </tbody>
</table>




