-- <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Heure</th>
        <th scope="col">Temperature</th>
        <th scope="col">Humidite</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of temphum">
        <!-- <th rowspan="3" scope="row" class="text-center">Temperature en °C</th> -->
        <td>{{i.Date}}</td>
        <td>{{i.Heure}}</td>
        <td>{{i.temperature}}°C</td>
        <td>{{i.humidite}}%</td> 
      </tr>
  
    </tbody>
  </table> -->

 <!--  <tbody>
    <tr *ngFor="let movie of temphum">
        <th>{{movie.id}}</th>
        <td>{{movie.Temperature}}</td>
        <td>{{movie.Humidite}}</td>
        <td><span class="badge bg-warning text-dark">{{movie.Humidite}}</span></td>
      
    </tr>
</tbody> -->
