<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="bg-light">

  
    <div class="container justify-content-between custom-line">
    
       <!--  affichage de la temperature actuelle -->
      <div class="card d-flex align-items-center" style="width: 392px; height: 231px;">
          
        <div class="card-body mt-3 mr-auto " >
            <h3 class="text-center">Actuellement</h3>
             <div class="d-flex justify-content-around mt-3 mr-auto ">
            <div  style="font-size: 50px; color: red;">23°C</div>
            <div  style="font-size: 50px; color: green; margin-left: 75px;">38%</div>
         </div>
          <div class="d-flex justify-content-around " >
            <div>Temperature</div>
            <div style="margin-left: 75px;">Humidité</div> 
          </div>
        </div>
      </div>
    
    
       <!--  affichage ventilateur -->
        <div class="card d-flex align-items-center " style="width: 350px; border: solid red;">
         
          <div class="card-body mt-3 mr-auto  ">
            
            
            <div> 
              <img class="taivent" src="../../assets/Rectangle 14.png" alt="Card image cap">  
              
            </div>
            <div class=" d-flex justify-content-center">
              <h1>Angular Toggle Button</h1>
            <!--   <toggle-button (changed)="checked=$event"> -->
             <!--  </toggle-button> -->
             <!--  <p>The state is {{checked ? 'ON' : 'OFF'}}.</p> -->

            
            </div>
            
          </div>
        </div>
      <!--  affichage temperature moyenene -->
        <div class="card d-flex align-items-center" style="width: 392px; height: 231px;">
          
          <div class="card-body mt-3 mr-auto " >
              <h3 class="text-center">Moyenne</h3>
              
            <div class="d-flex justify-content-around mt-3 mr-auto ">
              <div  style="font-size: 50px; color: red;">23°C</div>
              <div  style="font-size: 50px; color: green; margin-left: 75px;">38%</div>
            </div>
            <div class="d-flex justify-content-around " >
              <div>Temperature</div>
              <div style="margin-left: 75px;">Humidité</div> 
            </div>
           
           
          </div>
        </div>
    
    </div>
    
    <!-- Affichage des trois Temperatures et Humidités  -->
    <div class="container justify-content-between custom-line">
        <div class="card d-flex align-items-center" style="width: 350px;">
           
            <div class="card-body  mt-3 mr-auto">
                <h3 class="text-center">08:00</h3>
                <img class="card-img-top rounded-circle taicard" src="../../assets/téléchargement (2).jpeg" alt="Card image cap">
                <div class="centered">23°C</div>
                <h5 class="card-title">Card title</h5>
              <h3 class="text-center">HUMIDITE : 38%</h3>
            </div>
          </div>
        
          <div class="card d-flex align-items-center " style="width: 350px;">
           
            <div class="card-body mt-3 mr-auto ">
                <h3 class="text-center">12:00</h3>
                <img class="card-img-top rounded-circle taicard  " src="../../assets/téléchargement (2).jpeg" alt="Card image cap">
            
                <div class="centered">23°C</div>
            
            
                <h5 class="card-title">Card title</h5>
              <h3 class="text-center">HUMIDITE : 38%</h3>
            </div>
          </div>
        
          <div class="card d-flex align-items-center" style="width: 350px;">
            
            <div class="card-body mt-3 mr-auto " >
                <h3 class="text-center">19:00</h3>
                <img class="card-img-top rounded-circle taicard justify-content-center" src="../../assets/téléchargement (2).jpeg" alt="Card image cap">
              <h5 class="card-title">Card title</h5>
              <div class="centered">23°C</div>
              <h3 class="text-center">HUMIDITE : 38%</h3>
             
            </div>
          </div>
    
    </div>
  
    
 
</body>
</html>