<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="bg-light">

  
    <div class="container justify-content-between custom-line">
    
       <!--  affichage de la temperature actuelle -->
      <div class="card d-flex align-items-center" style="width: 392px; height: 231px;">
          
        <div class="card-body mt-3 mr-auto " >
            <h3 class="text-center">Actuellement</h3>
             <div class="d-flex justify-content-around mt-3 mr-auto ">
            <div  style="font-size: 50px; color: red;" *ngFor="let i of tempHum">{{i.temperature}}°C</div>
            <div  style="font-size: 50px; color: green; margin-left: 75px;" *ngFor="let i of tempHum">{{i.humidite}}%</div>
         </div>
          <div class="d-flex justify-content-around " >
            <div>Temperature</div>
            <div style="margin-left: 75px;">Humidité</div> 
          </div>
        </div>
      </div>
    
    
       <!--  affichage ventilateur -->
        <div class="card d-flex align-items-center " style="width: 350px;">
         
          <div class="card-body mt-1 mr-auto gap-3">
            
            
            <div class=" d-flex justify-content-center mb-2" *ngIf="img"> 
              <img class="taivent h-50 w-50" src="../../assets/vent.gif" alt="Card image cap">  
              
            </div>
            <div class=" d-flex justify-content-center mb-2" *ngIf="!img"> 
              <img class="taivent h-50 w-50" src="../../assets/gif.jpg" alt="Card image cap">  
              
            </div>
            
              <div class=" d-flex justify-content-center" *ngIf="!img">
                <button type="button" class="btn btn-success" (click)="allumer()">On</button> 
              </div>
              <div class=" d-flex justify-content-center" *ngIf="img">
                <button type="button" class="btn btn-danger" (click)="eteindre()">Off</button> 
              </div>
        
            
          </div>
        </div>
      <!--  affichage temperature moyenene -->
        <div class="card d-flex align-items-center" style="width: 392px; height: 231px;">
          
          <div class="card-body mt-3 mr-auto " >
              <h3 class="text-center">Moyenne</h3>
              
            <div class="d-flex justify-content-around mt-3 mr-auto ">
              <div  style="font-size: 50px; color: red;">{{moyTemp | number:'1.0-0'}}°C</div>
              <div  style="font-size: 50px; color: green; margin-left: 75px;">{{moyHum | number:'1.0-0'}}%</div>
            </div>
            <div class="d-flex justify-content-around " >
              <div>Temperature</div>
              <div style="margin-left: 75px;">Humidité</div> 
            </div>
           
           
          </div>
        </div>
    
    </div>
    
    <!-- Affichage des trois Temperatures et Humidités  -->
    <div class="container justify-content-between custom-line">
        <div class="card d-flex align-items-center" style="width: 350px;">
           
            <div class="card-body  mt-3 mr-auto">
                <h3 class="text-center">08:00</h3>
                <div>
                <img *ngIf="t8 >= 30; else archive;" class="card-img-top rounded-circle taicard" src="../../assets/8hh.jpeg" alt="Card image cap">
                <img *ngIf="t8 >= 24" class="card-img-top rounded-circle taicard" src="../../assets/8hh.jpeg" alt="Card image cap">
                <ng-template #archive>
                  <img class="card-img-top rounded-circle taicard" src="../../assets/téléchargement (2).jpeg" alt="Card image cap">
                </ng-template> 
              </div>
                <div class="centered">{{t8}}°C</div>
                <h5 class="card-title">Card title</h5>
              <h3 class="text-center">HUMIDITE : {{h8}}%</h3>
            </div>
          </div> 
        
          <div class="card d-flex align-items-center " style="width: 350px;">
           
            <div class="card-body mt-3 mr-auto">
                <h3 class="text-center">12:00</h3>
                <div>
                  <img *ngIf="t12 >= 30 ; else archive;" class="card-img-top rounded-circle taicard" src="../../assets/12hh.jpeg" alt="Card image cap">
                  <img *ngIf="t12 >= 24" class="card-img-top rounded-circle taicard" src="../../assets/12h.jpeg" alt="Card image cap">
                  <ng-template #archive>
                    <img class="card-img-top rounded-circle taicard" src="../../assets/téléchargement (2).jpeg" alt="Card image cap">
                  </ng-template> 
                </div>
                <div class="centered">{{t12}}°C</div>
            
            
                <h5 class="card-title">Card title</h5>
              <h3 class="text-center">HUMIDITE : {{h12}}%</h3>
            </div>
          </div>
        
          <div class="card d-flex align-items-center" style="width: 350px;">
            
            <div class="card-body mt-3 mr-auto " >
                <h3 class="text-center">19:00</h3>
                <div>
                <img *ngIf="t19 >= 30; else archive;" class="card-img-top rounded-circle taicard" src="../../assets/19hh.jpeg" alt="Card image cap">
                <img *ngIf="t19 >= 24" class="card-img-top rounded-circle taicard" src="../../assets/19h.jpeg" alt="Card image cap">               
                <ng-template #archive>
                  <img class="card-img-top rounded-circle taicard" src="../../assets/téléchargement (2).jpeg" alt="Card image cap">
                </ng-template> 
                </div>
                <div class="centered">{{t19}}°C</div>
              <h5 class="card-title">Card title</h5>
              
              <h3 class="text-center">HUMIDITE : {{h19}}%</h3>
             
            </div>
          </div>
    
    </div>
  
    
 
</body>
</html>