
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="d-flex justify-content-center">
  
  <div class="container"  *ngIf="!showForm">

    <div class="container d-flex justify-content-end" style="margin-top: 50px;">       
      <form class="form-inline my-2 my-lg-2 row">
        <div class="d-flex gap-1">
          <input *ngIf="show" id="search" class="form-control" type="text" name="search" placeholder="Rechercher" [(ngModel)]="searchText">
          <button class="btn btn-outline-danger" (click)="afficher()"><i class="bi bi-search"></i></button>
        </div>
      </form>
    </div>

      <table class="table table-bordered shadow-lg p-3 mb-5 bg-white rounded-3" >  
        <thead>
          <tr class="bg-danger" > 
          
            <th scope="col">MATRICULE</th>
            <th scope="col">NOM</th>
            <th scope="col">PRENOM</th>
            <th scope="col">EMAIL</th>
            <th scope="col">ROLES</th>
            <th scope="col">Date d'inscription</th>
          </tr>
        </thead>     
          <tbody>    
         <tr *ngFor="let user of userActif | filter:searchText | paginate: { itemsPerPage:  itemsperpage, currentPage: p}">  
          <td class="col-2">{{user.matricule}}</td> 
          <td class="col-2">{{user.nom}}</td> 
          <td class="col-2">{{user.prenom}}</td>             
          <td class="col-2">{{user.email}}</td>           
          <td class="col-2">{{user.roles}}</td>
          <td>{{user.date_inscri | date}}</td>
    
                      
        </tr>   
        </tbody>
     </table>

     <div class="mt-8 py-5">
      <div class="pagination fixed-bottom justify-content-center footer">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
   </div>
   </div>
   
</body>
</html>  