<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


  <div class="container"  *ngIf="!showForm">
<nav id="nav">  
   
        <div class="bouton">
        <input id="search" class="form-control" type="text" name="search" placeholder="Rechercher" [(ngModel)]="searchText">
        </div> 
</nav> 
    
 
      <table class="table table-bordered " >  
    <thead>
      <tr class="bg-primary" > 
       
        <th scope="col">MATRICULE</th>
        <th scope="col">NOM</th>
        <th scope="col">PRENOM</th>
        <th scope="col">EMAIL</th>
        <th scope="col">ROLES</th>
        <th scope="col">ACTION</th>
      </tr>
    </thead>     
          <tbody class="tbody">    
         <tr *ngFor="let user of userActif | paginate: { itemsPerPage:  itemsperpage, currentPage: p} | filter:searchText">  
          <td>{{user.matricule}}</td> 
          <td>{{user.nom}}</td> 
          <td>{{user.prenom}}</td>             
          <td>{{user.email}}</td>           
          <td>{{user.roles}}</td>
      <td class="d-flex justify-content-arround"> 
        <span class="btn btn-outline-danger" title="archiver" (click)="deleteId(user._id,user.etat)"><i class="bi bi-archive" id="i1" ></i></span>
        &nbsp;
        <span  class="btn btn-outline-primary" title="modifier" (click)="getUserData(user._id,user.email,user.prenom,user.nom)"><i class="bi bi-pen-fill" id="i2" ></i></span>
        &nbsp;
        <span  class="btn btn-outline-primary" title="changer" (click)="changeRole(user._id,user.roles)"><i class="bi bi-arrow-clockwise" ></i></span></td> 
                      
        </tr>   
        </tbody>
     </table>

     <div class="mt-8 py-5">
      <div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
   </div>
   </div>  
   
   


  <form *ngIf="showForm" [formGroup]="userEditForm"  class="col-6" style="margin: 0 auto;">
    <input type="text" formControlName="id"  hidden>
    <span *ngIf="emailExiste" class="d-flex justify-content-center fadeIn">
        <p class="text text-danger">{{emailExiste}}</p>
    </span>
  <div class="mb-3">
    <label for="nom" class="form-label">NOM</label>
    <input type="text" class="form-control"  formControlName="nom"  aria-describedby="emailHelp">
   
  </div>
  <div class="mb-3">
    <label for="prenom" class="form-label">PRENOM</label>
    <input type="text" class="form-control" formControlName="prenom">
  </div>
  <div class="mb-3">
      <label class="form-label" for="email">EMAIL</label>
    <input type="email" class="form-control" formControlName="email">
  </div>
  <div class="d-flex justify-content-space">
    <button type="submit" (click)="modifUsers()" class="btn btn-primary">Modifier</button>
    <button  class="btn btn-danger" (click)="this.showForm = false;">Annuler</button>
  </div>
</form> 
   


</body>
</html>
