/* .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
  }
  
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
    cursor: pointer;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
  
    .popup{
      width: 70%;
    }
  } */

#form{
 
    display: flex;
    justify-content: center; 
    border-radius: 10px;
  }
  
  #email{
      height: 50px;
      width: 100%;
      font-size: 85%;
  }
  #pass1{
      height: 50px;
      width: 100%;
      font-size: 85%;
  }
 
  #button{
      height: 50px;
      width: 200px;
      background-color:green;
      border-radius: 10px;
      margin-left: 180px;
   
  }
  
  .input-control .error {
    color: #ff3860;
    font-size: 20px;
    height: 13px;
  }
  #prenom{
      height: 50px;
      width: 100%;
      font-size: 85%;
  }
  #nom{
      height: 50px;
      width: 100%;
      font-size: 85%;
  } #role{
      height: 50px;
      width: 100%;
      font-size: 85%;
  }
  #pass2{
      height: 50px;
      width: 100%;
      font-size: 85%;
  }

  #roles{
    height: 50px;
    width: 100%;
    font-size: 85%;
}


  h1 {
    color: #0f2027;
    text-align: center;
    font-size: 35px;
   /*  margin-left: 12px; */
  }
  #photo{
    height: 50px;
      width: 100%;
      font-size: 100%;
      margin-right: -900px;
  }
  a{
  text-decoration: none;
  margin-left: 80px;
  font-size: 16px;
  color: orange;
  }
  
  #controle{
    display: flex;
    justify-content: center;
  }
 
    
 
 
 

  



  
