  <!-- <app-header *ngIf="showHead"></app-header> -->
  <div class="d-flex">
    <div class="fixed-left">
      <app-sidebar *ngIf="showHead"></app-sidebar>
    </div>
    <div class="d-flex flex-column w-100 bg-light mt-0">
        <nav *ngIf="showHead" class="container-fluid navbar navbar-expand-lg navbar-warning w-100 d-flex shadow p-3 bg-body-tertiary rounded" style="gap: 30rem;">
          <div><p class="hidden-lg hidden-md">{{getTitle()}}</p></div>
          <div style="display: flex;gap: 5rem;align-items: center;" class="col-md-3">
            <div><p style="color:black;" class="fs-5">{{currentDate | date:'dd MMMM yyyy'}}</p></div>
            <div><p style="color:black;" class="fs-5">{{CurrentTime}}</p></div>
          </div>
          <div class="d-flex justify-content-end pull-right">
            <button (click)="logout()" type="button" class="btn btn-outline-danger" title="Deconnection" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-box-arrow-left"></i>
            </button>
          </div>
        </nav>
        <!-- <div class="d-flex justify-content-center">
          <a *ngFor="let h of hist" [routerLink]="h">
            {{h}}
          </a>
        </div> -->
      <div>
        <router-outlet></router-outlet>

    </div>
  </div>
</div>

 

<!-- <app-utilisateur></app-utilisateur> -->

 <!-- <app-utilisateur></app-utilisateur> -->

 <!--  <app-inscrption></app-inscrption> 
   <app-login></app-login>  
 -->