<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 


  <div class="container">
<nav id="nav">  
   
        <div class="bouton">
        <!-- <input id="search" class="form-control" type="text" name="search" placeholder="Rechercher" [(ngModel)]="searchText"> -->
        </div> 
</nav> 
    
 
      <table class="table table-bordered " >  
    <thead>
      <tr class="bg-primary" > 
       
        <th scope="col">MATRICULE</th>
        <th scope="col">NOM</th>
        <th scope="col">PRENOM</th>
        <th scope="col">EMAIL</th>
        <th scope="col">ROLES</th>
        <th scope="col">ACTION</th>
      </tr>
    </thead>     
          <tbody class="tbody">    
         <tr *ngFor="let user of userArchive | paginate: { itemsPerPage:  itemsperpage, currentPage: p} |filter:searchText">  
          <td>{{user.matricule}}</td> 
          <td>{{user.nom}}</td> 
          <td>{{user.prenom}}</td>             
          <td>{{user.email}}</td>           
          <td>{{user.roles}}</td>
      <td> 
      
        
        <span class="btn btn-outline-danger" title="désarchiver" (click)="ddeleteId(user._id,user.etat)"><i class="bi bi-trash-fill" id="i1"  ></i></span>
        </tr>   
        </tbody>
     </table>

     <div class="mt-8 py-5">
      <div>
        <!-- <pagination-controls (pageChange)="p = $event"></pagination-controls> -->
      </div>
   </div>
   </div>  
 </body>
</html>
 